<ion-header><ion-toolbar><ion-title>Register</ion-title></ion-toolbar></ion-header>
<ion-content><form [formGroup]="form" (ngSubmit)="submit()">
<ion-item><ion-input label="Email" labelPlacement="floating" type="email" formControlName="email"></ion-input></ion-item>
<ion-item><ion-input label="Password" labelPlacement="floating" type="password" formControlName="password"></ion-input></ion-item>
<ion-item><ion-input label="Business Name" labelPlacement="floating" formControlName="business_name"></ion-input></ion-item>
<ion-item><ion-input label="Trade" labelPlacement="floating" formControlName="trade"></ion-input></ion-item>
<ion-item><ion-input label="Location" labelPlacement="floating" formControlName="location"></ion-input></ion-item>
<ion-item><ion-input label="License #" labelPlacement="floating" formControlName="license_number"></ion-input></ion-item>
<ion-button class="ion-margin-top" type="submit" expand="block">Create account</ion-button>
</form></ion-content>