.auth-content {
  --background: #ffffff;
}

.auth-container {
  text-align: center;
  padding: 20px;
}

.welcome-text h2 {
  margin: 0;
  font-weight: bold;
}

.app-title {
  color: #4267B2;
}

.subtitle {
  font-size: 14px;
  color: #666;
}

.input-item {
  margin: 15px 0;
  border-radius: 8px;
  --background: #f4f4f4;
  padding-left: 8px;
}

.login-btn {
  margin-top: 20px;
  --background:#e85a2a ;
  --color: #fff;
  border-radius: 8px;
}

.success-text,
.error-text {
  margin-top: 10px;
  display: block;
  font-size: 14px;
}

.privacy-text {
  margin-top: 30px;
  font-size: 12px;
}
