.splash-screen {
  position: fixed;
  top:0; left:0; right:0; bottom:0;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:#ffffff; /* optional brand color */
  z-index:9999;
}

.splash-screen img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
