.auth-content {
  --background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.auth-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #3a7bd5, #3a6073);
  z-index: -1;
}

.auth-card {
  width: 90%;
  padding: 25px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  animation-duration: 0.8s;
}

.auth-title {
  text-align: center;
   margin-bottom: 20px;
  /*font-weight: bold;
  font-size: 22px; 
  color: #fff;*/
}

.ion-padding{
  background:#fff;
}

.input-item {
  margin-bottom: 15px;
  border-radius: 12px;
  --background: rgba(255,255,255,0.1);
  --highlight-color-focused: #fff;
  color: #fff;
}

ion-input, ion-icon {
  color: #fff !important;
}

.auth-btn {
  margin-top: 20px;
  border-radius: 12px;
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
  box-shadow: 0 5px 15px rgba(255,75,43,0.4);
  transition: transform 0.2s ease;
}

.auth-btn:active {
  transform: scale(0.95);
}

.error-text {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

.switch-link {
  margin-top: 10px;
  color: #fff;
}
.auth-background {
  position: fixed; /* instead of absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #3a7bd5, #3a6073);
  z-index: -1;
}

ion-list.md.list-md.hydrated {
    background: #FEF5F0;
}

ion-item {
    --background: transparent;
    border: none;
    padding: 12px;
    margin-bottom: 12px;
}