.review-details-page {
  --ion-background-color: #fffaf5;

  .review-header {
    text-align: center;
    padding: 0;

    h2 {
      font-weight: 600;
      margin-bottom: 8px;
    }

    h5{
    text-align:left; 
    color:#474747;  
    font-weight: 700;
    margin-top:30px;

    }

    .info-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4px 12px;
      font-size: 14px;
      color: #6E6E6E;
      text-align:left;
    }

   p{margin:5px 0}

    strong {
  font-weight:400;

    }
  }

  .summary-box {
    background: #ffe9d6;
    border-radius: 12px;
    margin: 12px 16px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;

    .summary-item {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  .review-card {
    margin: 12px 16px;
    border-radius: 12px;
    background: #fff2e6;

    ion-card-header {
      ion-card-title {
        color: #c44a12;
        font-weight: 600;
      }
    }

    .ratings {
      font-size: 14px;
      line-height: 1.4;
      margin-bottom: 12px;
    }

    .review-text {
      font-size: 14px;
      margin-bottom: 12px;

      strong {
        display: block;
        margin-bottom: 4px;
      }
    }

    .attachment {
      font-size: 14px;

      ion-icon {
        vertical-align: middle;
        margin-right: 6px;
        color: #444;
      }

      a {
        text-decoration: none;
        color: #000;
        font-weight: 500;
      }
    }
  }
}
.file-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

ion-thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #000;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
