<ion-header>
  <ion-toolbar><ion-title>Reset Password</ion-title></ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container [ngSwitch]="step">
    <div *ngSwitchCase="'request'">
      <form (ngSubmit)="sendReset()">
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
        </ion-item>
        <ion-button expand="block" type="submit" [disabled]="loading">
          {{ loading ? 'Sending…' : 'Send Reset Email' }}
        </ion-button>
        <ion-text color="success" *ngIf="info">{{ info }}</ion-text>
        <ion-text color="danger" *ngIf="errorMsg">{{ errorMsg }}</ion-text>
      </form>
      <ion-item lines="full">
        <ion-label>Already have reset link open?</ion-label>
        <ion-button slot="end" (click)="step='update'">Update Password</ion-button>
      </ion-item>
    </div>

    <div *ngSwitchCase="'update'">
      <form (ngSubmit)="updatePassword()">
        <ion-item>
          <ion-label position="stacked">New Password</ion-label>
          <ion-input type="password" [(ngModel)]="newPassword" name="newPassword" minlength="6" required></ion-input>
        </ion-item>
        <ion-button expand="block" type="submit" [disabled]="loading">
          {{ loading ? 'Saving…' : 'Update Password' }}
        </ion-button>
        <ion-text color="success" *ngIf="info">{{ info }}</ion-text>
        <ion-text color="danger" *ngIf="errorMsg">{{ errorMsg }}</ion-text>
      </form>
    </div>
  </ng-container>
</ion-content>
