/* app.component.scss */
.bell-btn {
  position: relative;
}

.notif-badge {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.7rem;
  border-radius: 50%;
  padding: 2px 6px;
}




ion-list.list_notificatons ion-item {
    --background: #FEF5F0;
    margin: 18px;
    border-radius: 12px;
    border: none;
}