<ion-header><ion-toolbar><ion-title>Profile</ion-title></ion-toolbar></ion-header>
<ion-content class="ion-padding">
<form [formGroup]="form" (ngSubmit)="save()">
<ion-item><ion-input label="Business Name" labelPlacement="floating" formControlName="business_name"></ion-input></ion-item>
<ion-item><ion-input label="Trade" labelPlacement="floating" formControlName="trade"></ion-input></ion-item>
<ion-item><ion-input label="Location" labelPlacement="floating" formControlName="location"></ion-input></ion-item>
<ion-item><ion-input label="License #" labelPlacement="floating" formControlName="license_number"></ion-input></ion-item>
<ion-button class="ion-margin-top" type="submit" expand="block">Save</ion-button>
</form>
<ion-button color="medium" expand="block" (click)="logout()">Logout</ion-button>
</ion-content>