<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="error">{{ error }}</ion-text>
    <ion-button expand="block" type="submit" [disabled]="loading">Create Account</ion-button>
    <ion-button expand="block" fill="clear" routerLink="/login">Already have an account? Login</ion-button>
  </form>
</ion-content>
